/* ---------------------

 Generateur de classe pour la propriete border-radius
 Exemple: br4, brx4, brt4

--------------------- */
$intSizes: (0, 2, 4);

@each $intSize in $intSizes {
  $sides: (all, topbottom, leftright, top, left, right, bottom);

  // convert value to SASS variables with unit
  $pixelValue: number-to-pixel($intSize);

  @each $side in $sides {
    @if $side == 'all' {
      .rd#{$intSize} {
        @include rem(border-radius, $pixelValue);
      }
    }

    @else if $side == 'topbottom' {
      .rdy#{$intSize} {
        @include rem(border-radius, $pixelValue $pixelValue 0 0);
      }
    }

    @else if $side == 'leftright' {
      .rdx#{$intSize} {
        @include rem(border-radius, 0 0 $pixelValue $pixelValue);
      }
    }

    @else if $side == 'top' {
      .rdt#{$intSize} {
        @include rem(border-radius, $pixelValue 0 0 0);
      }
    }

    @else if $side == 'right' {
      .rdl#{$intSize} {
        @include rem(border-radius, 0 $pixelValue 0 0);
      }
    }

    @else if $side == 'bottom' {
      .rdl#{$intSize} {
        @include rem(border-radius, 0 0 $pixelValue 0);
      }
    }

    @else if $side == 'right' {
      .rdl#{$intSize} {
        @include rem(border-radius, 0 0 0 $pixelValue);
      }
    }
  }
}
