.clue {
  position: absolute;
  font-size: 1.2em;
  font-weight: 500;
  top: 100%;
  z-index: 100;
  left: 0;
  right: 0;
  text-align: center;
  &.hidden {
    opacity: 0;
  }
  &.sep {
    font-family: 'sans';
  }
}
