.deck {
  height: 100vh;
  overflow: hidden;
  position: relative;
  .react-draggable {
    height: 100%;
    position: relative;
    transition-property: transform;
    transition-timing-function: ease;
    &.no-transition {
      transition: unset !important;
    }
  }
  .board {
    position: absolute;
    background-color: transparent;
    background-size: 100% auto;
    margin-top: 133%;
    width: 100%;
    z-index: 100;
    bottom: 0;
    top: 0;
    .deck-gradient {
      height: 50px;
      top: -50px;
      z-index: 100;
      width: 100%;
      position: relative
    }
    .controls {
      display: flex;
      justify-content: space-around;
      .previous, .next, .to-recto {
        padding: 0;
        border: 0;
        border-radius: 0;
        background-color: transparent;
        outline: 0;
        img {
          width: 100%;
        }
        &.previous {
          margin-left: 5.07%;
        }
        &.next {
          margin-right: 5.07%;
        }
        &.previous, &.next {
          margin-top: 3.10%;
          width: 23.2%;
        }
        &.to-recto {
          z-index: 1100;
          width: 11.73%;
          margin-top: 3.10%;
          margin-left: auto;
          margin-right: auto;
          img {
            width: 60%; //TODO: calculate actual percentage
          }
        }
      }
    }
  }
}
